/* * {
    border: 0.5px solid black;
} */

body {
    padding: 10px;
}

img {
    width: 20%;
    height: 20%;
}

.table {
    margin-bottom: 0px;
}
.no-people {
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-people span {
    font-size: 20px;
    font-weight: bold;
}

.container {
    background-color: rgb(255, 159, 159);
    border: 3px dashed orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.container#data {
    background-color: white;
}

.switch {
    display: flex;
    background-color: rgb(255, 159, 159);
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
    /* border-bottom: 3px solid orange; */
}

.selected-active {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* border-radius: 10px 10px; */
    /* margin: 10px; */
}

.selected {
    /* background-color: lightblue; */
    padding: 10px;
    border-radius: 10px;
    /* margin: 10px; */
}

.data-search {}

.search-container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(83, 83, 83);
    border-radius: 8px;
}

.form-floating {
    margin-bottom: 10px;
}

#form-search {
    margin-bottom: 10px;
}

/* .search1 {
    display: block;
}

.search2 {
    display: none;
}

.search3 {
    display: none;
} */