* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #00324e;
    font-family: "微軟黑正體", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
    transition: all .5s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}



.navbar a {
    color: white;
    margin: 0 10px;
}

.navbar-list a {
    margin: 0 10px;
}

.navbar-list a:first-child {
    margin-left: 0;
}

.navbar-list a:last-child {
    margin-right: 0;

}

.navbar-item.user {
    position: absolute;
    right: 100px;
}


.navbar-toggler {
    display: none;
}

@media screen and (max-width: 768px) {

    .navbar-list {
        position: fixed;
        background-color: #00324e;
        width: 300px;
        height: 100vh;
        top: 0;
        left: -300px;
        transition: all .5s ease-out;
    }

    .navbar-list.active {
        left: 0;
    }

    .navbar-list a,
    .navbar-item.user {
        display: block;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }

    .navbar-item.user {
        position: revert;
        right: 0;
    }

    .navbar-toggler {
        display: block;
        position: absolute;
        right: 30px;
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .line {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 0 auto;
        position: relative;
    }

    .line, .line::after, .line::before {
        transition: all .5s ease;
    }

    .line.active {
        transform: rotate(45deg);
    }
    
    .line.active::after {
        top: 0;
    }

    .line.active::before {
        transform: rotate(90deg);
        bottom: 0;
    }

    .line::after,
    .line::before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 0 auto;
        position: absolute;
    }

    .line::after {
        top: 10px;
    }

    .line::before {
        bottom: 10px;
    }



}

.note {
    border-radius: .1875rem;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    background: var(--note-bg, var(--grey-2));
    color: var(--grey-6);
    border-left: .25rem solid var(--note-border, var(--grey-4));
    font-size: .875em;
    padding-left: 2.5rem;
    --primary-color: var(--note-text);
}

.note-alert p {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.note::before {
    display: inline-block;
    font-weight: 600;
    font-family: 'Font Awesome 6 Free';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: .5rem;
    top: calc(50% - 0.9rem);
    /* font-family: ic;
    font-weight: 400; */
    font-size: 1.5rem;
    color: var(--note-text, var(--grey-6));
}

.note.info::before {
    content: "\f05a";
}

.note.success::before {
    content: "\f058";
}

.note.warning::before {
    content: "\f071";
}

.note.error::before {
    content: "\f057";
}

.info {
    --note-border: #8fa4dc;
    --note-bg: #f1f9ff;
    --note-text: #1d4974;
    --note-hover: #1d5fa0;
}

.success {
    --note-border: #a3c293;
    --note-bg: #fcfff5;
    --note-text: #2c662d;
    --note-hover: #3b883c;
}

.warning {
    --note-border: #c9ba9b;
    --note-bg: #fffbeb;
    --note-text: #947600;
    --note-hover: #ccb045;
}

.error {
    --note-border: #f4b3c1;
    --note-bg: #fff2f5;
    --note-text: #cc0f35;
    --note-hover: #f14668;
}

:root {
    --grey-0: #fff;
    --grey-1: #fdfdfd;
    --grey-2: #f7f7f7;
    --grey-3: #eff2f3;
    --grey-4: #ccc;
    --grey-5: #999;
    --grey-6: #666;
}

.createpost {
    position: fixed;
    right: 20px;
    bottom: 40px;
}

.createpost a {
    background-color: #006aa6;
    padding: 20px;
    border-radius: 50%;
    border: none;
    color: white;
    text-decoration: none;
}

.createpost a i.fa-solid.fa-pen {
    font-size: 20px;
}

.createpost a:hover {
    background-color: #005a86;
    animation: headShake;
    animation-duration: 2s;
}

/* 滾動條樣式 */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(245, 119, 73, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #fa6e52;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #fa6e52;
}