<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://sao-x.com/static/css/login.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/1e975f4be4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/danbars/form-builder@0.1/dist/themes/default.imports.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/danbars/form-builder@0.1/dist/themes/default.css">
</head>

<body>

    <form class="login" action="." method="post">
        {% for message in messages %}
        <div class='note {{message.tags}}'>{{ message }}</div>
        {% endfor %}
        <h1>登入</h1>
        <i class="fas fa-user-circle"></i>
        {% csrf_token %}
        <!-- <table> -->
        {{ login_form.as_p }}
        <!-- </table> -->
        <button type="submit">登入</button>
    </form>
</body>

</html>